<div id="photo_preview question">
	<%= form_tag("/conversations/send_this_message", method: "post", :class => "edit_user_form") do  %>
    <%= hidden_field_tag :id, "#{@user.id}" %>
    <h3>Send <%= @user.first_name %> a message about the <%= raw(@item) %></h3>
  	<%= text_area_tag :message, nil, :class => 'form-control clean', :placeholder => "Message" %>
    <%= submit_tag "Send", :class => "btn btn-primary" %>
  <% end %>
</div>