<div id="profile-heading">
  <%= image_tag @user.avatar.url(:medium) %>
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  <p id="school">University of California, Berkeley</p>
  <p>User #<%= @user.id %></p>
</div>
<div>
  <h3 class="page-header"><%= @user.first_name %>'s current listings <span id="listings-toggle"><a>sold listings</a></span></h3>
  <div id="current-listings">
    <% @user.products.each do |f| %>
      <% if f.sold_value === false %>
          <div class="listing">
            <h4><%= link_to f.name, view_item_path(f.id) %></h4><strong><p class="price">$<%= f.decimal_price %></p></strong><p><%= f.description[0..70].gsub(/\s\w+\s*$/, '...') %></p>
          </div>
      <% else %>
      <% end %>
    <% end %>
  </div>
    <div id="past-listings">
      <% @user.products.each do |f| %>
          <% if f.sold_value == true %>
            <div class="listing">
              <h4><%= link_to f.name, view_item_path(f.id) %></h4><strong><p class="price">$<%= f.decimal_price %></p></strong>
              <p><%= f.description[0..70].gsub(/\s\w+\s*$/, '...') %></p>
            </div>
        <% else %>
        <% end %>
      <% end %>
    </div>
  <div id="profile_end">That's all... for now</div>
</div>