<% @title='AnyMarket' %>
<div id="profile-heading">
	<span class="user-image-as-background" size="150" style="background-image: url( @user.avatar.url(:medium).sub('http://s3.amazonaws.com/anymarket/','http://anymarket.s3.amazonaws.com/')); width: 150px; height: 150px"></span>
	<% if @user.first_name? && @user.last_name? %>
  	<h2><%= @user.first_name %> <%= @user.last_name %></h2>
	<% else %>
		<h2><a href="/users/edit">What's your name? Let's add it!</a></h2>
	<% end %>
  <p id="school"><%= @user.school || "University of California, Berkeley" %></p>
  <p>User #<%= @user.id %></p>
</div>
<div>
	<h3 class="page-header"><a href="#" id="prof_default"><% if @user.first_name? %><%= @user.first_name %>'s current listings<% else %>Your current listings<% end %></a> <a href="#" id="listings-toggle">sold listings</a></h3>
  <div id="current-listings">
		<% notsold = @user.products.where("sold_value = false").order("created_at DESC") %>
    <% i = 0 %>
		<% notsold.each do |f| %>
      <% i += 1 %>
      <% if f.sold_value === false %>
          <div class="listing">
            <h4 class="counter"><%= i %>.</h4> <h4><%= link_to f.name, view_item_path(f.id) %></h4><% if f.photo? %><span id="camera-icon-preview" class="glyphicon glyphicon-camera preview_toggle" data-id="<%= f.id %>"></span><% else %><% end %><p><%= truncate(f.description, length: 60) %></p><p class="price"><%= number_to_currency(f.decimal_price, precision: 2) %></p>
          </div>
      <% else %>
      <% end %>
    <% end %>
  </div>
    <div id="past-listings">
      <% t = 0 %>
      <% @user.products.each do |f| %>
          <% if f.sold_value == true %>
          <% t += 1 %>
            <div class="listing">
              <h4 class="counter"><%= t %>.</h4> <h4><%= link_to f.name, view_item_path(f.id) %></h4><% if f.photo? %><span id="camera-icon-preview" class="glyphicon glyphicon-camera preview_toggle" data-id="<%= f.id %>"></span><% else %><% end %><p><%= f.description[0..60].gsub(/\s\w+\s*$/, '...') %></p><p class="price"><%= number_to_currency(f.decimal_price, precision: 2) %></p>
            </div>
        <% else %>
        <% end %>
      <% end %>
    </div>
  <div id="profile_end">That's all... for now</div>
</div>