<% @title="AnyMarket - Home" %>
<% if signed_in?(:user) %>
<div id="categories-page-wrapper" class="index_categories">
  <h4>Explore categories</h4>
  <% @categories.each do |f| %>
    <p class="category-page-category"><%= link_to f.name, view_category_path(f.id) %></p>&middot;
  <% end %>
</div>
<div id="index-wrapper">
	<div id="your-listings">
		<h3 id="your-listings-header" class="page-header"><span class="glyphicon glyphicon-usd"></span> What You're Selling</h3>
		<% notsold = @user.products.where("sold_value = false").order("created_at DESC") %>
		<% if notsold.any? %>
		<% i = 0 %>
		<% notsold.each do |f| %>
			<% i += 1 %>
			<div class="listing">
				<h4 class="counter"><%= i %>.</h4> <%= link_to view_item_path(f.id), :method => "get" do  %><h4><%= f.name %></h4><% end %><p><%= truncate(f.description, :length => 80) %></p> <strong><p class="price"><%= number_to_currency(f.decimal_price, precision: 2) %></p></strong>
			</div>
			<% end %>
		</div>
		<% else %>
		<div id="list-first-wrapper"><a href="/products/new"><span class="glyphicon glyphicon-plus"></span><h3>List your first item</h3></a></div>
		<% end %>
		<div id="most-recent">
		<% recentlistings = Product.order('created_at DESC').limit(5).where("sold_value = false") %>
		<h3 id="your-listings-header" class="page-header"><span class="glyphicon glyphicon-time"></span>Recently Added In Your Network</h3>
		<% recentlistings.each do |f| %>
			<div class="listing">
							<a href="/users/<%= f.user_id %>" class="nounderline"><%= image_tag User.find(f.user_id).avatar.url(:thumb).sub('http://s3.amazonaws.com/anymarket/','http://anymarket.s3.amazonaws.com/'), :id => "categories_profile_picture", :width => "30", :height => "30" %></a><h4><%= link_to f.name, view_item_path(f.id) %></h4><p><%= truncate(f.description, :length => 80) %></p><strong><p class="price"><%= number_to_currency(f.decimal_price, precision: 2) %></p></strong>
						</div>
		<% end %>
	</div>
	<% else %>
	<div id="landing-wrapper">
		<div id="sign_up_and_pitch">
			<h3 id="pitch">Quick, easy,<br /> verified selling at your school.</h3>
			<p id="available-at">*Currently available at University of California, Berkeley</p>
			<%= form_for User.new, :options => {:id => "new_listing"}, :url => {:controller => "registrations",:action => "create"} do |f| %>
			<%= f.text_field :email, :id => "name_input", :autofocus => true, :required => true, :placeholder => "Email *.edu only", :class => "form_inputs" %><br />
			<%= f.password_field :password, :id => "name_input", :required => true, :placeholder => "Password", :class => "form_inputs" %><br />
			<%= f.submit "Join", :id => "submit",:id => "submit_item_btn" %>
			<% end %>
			<p>AnyMarket is the simple solution to buying/selling products locally. We provide an environment for people to feel safe, providing users with information on who they are meeting before they purchase an item. No more having to run to the ATM to grab cash or having people outbid you on items. By using AnyMarket, anything you may want is just a few clicks away!</p>
		</div>
		<div id="recently_added_preview">
			<div id="landing-recent">
			<% recentlistings = Product.order('created_at DESC').limit(5).where("sold_value = false") %>
			<h3 id="your-listings-header" class="page-header">Recently Added Items</h3>
			<% recentlistings.each do |f| %>
				<div class="listing">
								<a href="/users/<%= f.user_id %>" class="nounderline"><%= image_tag User.find(f.user_id).avatar.url(:thumb).sub('http://s3.amazonaws.com/anymarket/','http://anymarket.s3.amazonaws.com/'), :id => "categories_profile_picture", :width => "30", :height => "30" %></a><h4><%= link_to f.name, view_item_path(f.id) %></h4><strong><p class="price"><%= number_to_currency(f.decimal_price, precision: 2) %></p></strong>
							</div>
			<% end %>
			</div>
		</div>
	<% end %>
</div>