<% if signed_in?(:user) %>
<div id="your-listings">
  <h1 id="your-listings-header" class="page-header">What You're Selling</h1>
  <% @user.products.each do |f| %>
  <div class="listing">
    <h3><%= link_to f.name, view_item_path(f.id) %></h3><strong><p class="price">$<%= f.decimal_price %></p></strong>
    <p><%= f.description %></p>
  </div>
  <% end %>
</div>
<% else %>
<h1>FUCK YOU</h1>
<% end %>
<%= yield %>
<%= javascript_include_tag "application" %>
<script type="text/javascript">
  $.get("/categories", null, "script");
</script>