<h1>Create a new category</h1>
<%= form_for Category.new, :url => {:action => "create"} do |f| %>
  <div><%= f.label :name %><br />
    <%= f.text_field :name, :placeholder => "Name for new category" %>
  </div>
  <div><%= f.label :description %><br />
    <%= f.text_field :description,:placeholder => "Write a description"%>
  </div>
  <br />
  <%= f.submit "Create" %>
<% end %>
