<h3>Please confirm your purchase of <%= @product.name %></h3>
<div id="about-purchase-container">
	<div id="seller-buyer-details">
		<h3 id="by-info">by <a href="/users/<%= @product.user_id %>"><%= User.find(@product.user_id).first_name %> <%= User.find(@product.user_id).last_name %></a><a href="/users/<%= @product.user_id %>"><%= image_tag User.find(@product.user_id).avatar.url(:thumb).sub('http://s3.amazonaws.com/anymarket/','http://anymarket.s3.amazonaws.com/'), :id => "product_profile_picture", :width => "30", :height => "30" %></a><% if User.find(@product.user_id).confirmed_at? %><a href="#" data-toggle="tooltip" data-placement="right" title="This user has a verified .edu email address." id="tool" class="verified-badge"><span class="glyphicon glyphicon-ok-sign"></span></a><% else %><% end %><% if User.find(@product.user_id).braintree_customer_id? %><a href="#" data-toggle="tooltip" data-placement="right" title="This user has a verified payment method." id="toolz" class="verified-badge verified-method"><span class="glyphicon glyphicon-usd"></span></a><% else %><% end %></h3>
		<%= render "form" %>
	</div>
	<div id="about-item">
		<%= image_tag @product.photo.url(:medium).sub('http://s3.amazonaws.com/anymarket/','http://anymarket.s3.amazonaws.com/') if @product.photo? %><br />
		<h3>Description:</h3>
    <p><%= @product.description %></p>
		<% if @product.about_delivery? %>
    	<div id="about_delivery_box"><h4>Seller's Meeting Preference</h4><%= @product.about_delivery %></div>
    <% else %>
    <% end %>
	</div>
</div>