<div id="photo_preview">
	<div id="inner-preview-container">
		<span class="glyphicon glyphicon-remove" id="remove"></span>
		<%= image_tag Product.find(@product.id).photo.url(:large).sub('http://s3.amazonaws.com/anymarket/','http://anymarket.s3.amazonaws.com/') %>
		<div id="info-preview-container">
			<h4><a href="/products/<%= @product.id %>"><%= @product.name %></a></h4>
			<p>By <%= User.find(@product.user_id).first_name %> <%= User.find(@product.user_id).last_name %></p>
		</div>
	</div>
</div>
<%= javascript_include_tag "application" %>
<script type="text/javascript">
	$("#remove").click({
		$("#photo-preview").remove();
	});
</script>