<h1>Edit your listing</h1>
<%= form_for @product, :url => {:action => :update, :method => :patch} do |f| %>
  <div><%= f.label :name %><br />
    <%= f.text_field :name, :placeholder => "Name yourself" %>
  </div>
  <div><%= f.label :price %><br />
    <%= f.number_field :decimal_price, :placeholder => "Name your price" %>
  </div><br />
  <div><%= f.label :description %><br />
    <%= f.text_area :description, :cols => "50", :rows => "10", :placeholder => "Write a few sentences about the item you're listing. Is it in good condition? Are there any accessories included?"%>
  </div>
  <br />
  <%= f.submit "Update listing" %>
<% end %>
