<h1>Edit your listing</h1>
<%= form_for @product, :url => {:action => :update, :method => :patch} do |f| %>
  <div><%= f.label :name %><br />
    <%= f.text_field :name, :placeholder => "Name yourself", :required => true %>
  </div>
  <div><%= f.label :price %><br />
    <%= f.number_field :decimal_price, :step => "any", :placeholder => "Name your price", :required => true %>
  </div><br />
  <div><%= f.label :description %><br />
    <%= f.text_area :description, :cols => "50", :rows => "10", :placeholder => "Write a few sentences about the item you're listing. Is it in good condition? Are there any accessories included?", :required => true%>
    <%= f.text_area :about_delivery, :cols => "10", :rows => "8", :maxlength => 250, :id => "about_delivery", :required => true, :placeholder => "What times of the week are you available to meet? Where around campus would be the best place? You can discuss in further detail with the buyer once your item is sold.", :class => "form_inputs" %>
  </div>
  <br />
  <div>
    <% if @product.photo? %>
      <%= image_tag @product.photo.url(:medium) %><br />
      <%= f.label "New photo (will replace current one)" %><br />
      <%= f.file_field :photo %><br />
      <%= f.label "Delete photo?" %><%= f.check_box :destroy_photo %>
    
    <% else %>
      <%= f.label "Upload photo" %><br />
      <%= f.file_field :photo %><br />
    <% end %>
  </div>
  <div>
    <%= f.label "Category" %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name, {:prompt => 'Choose a category'}, {:required => true} %>
  </div><br />
  <%= f.submit "Update listing" %>
<% end %>
