<div id="listing-container">
  <div id="product_right">
    <h1><%= @product.name %></h1>
    <h3>by <a href="/users/<%= @product.user_id %>"><%= User.find(@product.user_id).first_name %> <%= User.find(@product.user_id).last_name %></a><a href="/users/<%= @product.user_id %>"><%= image_tag User.find(@product.user_id).avatar.url(:thumb), :id => "product_profile_picture", :width => "30", :height => "30" %></a></h3>
		<h2>$<%= number_to_currency(@product.decimal_price, precision: 2) %></h2>
    <% if @product.user_id == current_user.id %>
      <h4 style="display:inline; margin-right:10px"><%= link_to "Edit listing", edit_item_path(@product), :method => :get %></h4>
      <h4 style="display:inline"><%= link_to "Delete listing", destroy_item_path(@product), method: :delete, data: { confirm: "Are you sure? Deleting a listing cannot be undone."} %></h4><br />
    <% end %>
    <hr>
    <% if @product.sold_value === true %>
      <input type="submit" value="Already sold!" width="200px" disabled="true"><br />
    <% else %>
      <input type="submit" value="Purchase" width="200px"><br />
      <p class="guarantee">Risk-free, 100% money-back guarantee.</p>
      <hr>
      <input type="submit" value="Ask a question" id="ask-question">
    <% end %>
    <hr>
    <% if @product.about_delivery? %>
    <div id="about_delivery_box"><h4>Seller's Meeting Preference</h4><%= @product.about_delivery %></div>
    <% else %>
    <% end %>
  </div>

  <div id="product_left">
		<%= image_tag @product.photo.url.sub('http://s3.amazonaws.com/anymarket/','http://anymarket.s3.amazonaws.com/') if @product.photo? %><br />
    <h3>Description:</h3>
    <p><%= @product.description %></p>
    <hr>
    <% if @product.category_id? %>
      <h3>Category:</h3>
      <a href="/categories/<%= @product.category.id %>"><%= @product.category.name %></a>
    <% else %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $("#ask-question").click(function(){
    $.ajax({
      url: "/conversations/<%= @product.user_id %>/send_message",
      type: "get",
      data: {item: "<%= @product.name %>"}
    });
  });
</script>