<!DOCTYPE html>
<html lang="en">
<head meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="fJw8g6sI0i0AP40V6yZNrik-4RWAZxvI4hVUdexgmO0" />
	<title><%= @title %></title>
	<%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700">
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=562365530534757&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container-fluid">
<% if signed_in?(:user) %>
  <div id="fixed-navbar">
		<a href="/"><%= image_tag "logo.jpg", :id => "logo" %><h3 id="site-header">AnyMarket</h3></a>
		<div id="searchbar">
			<% search_id_attr = :q %>
			<%= form_tag( products_index_path, :method => :get ) do %>
					<%= text_field_tag search_id_attr, nil, :placeholder => "Search listings"  %>
			<% end %>
		</div>
		<div id="menu">
			<p id="school-navbar"><span class="glyphicon glyphicon-map-marker"></span><%= current_user.school || "University of California, Berkeley" %></p>
			<a href="/products/new" id="list-btn">List an Item</a>
			<a href="/conversations" id="mailbox-url"><span class="glyphicon glyphicon-inbox"></span></a>
			<%= image_tag current_user.avatar.url(:thumb).sub('http://s3.amazonaws.com/anymarket/','http://anymarket.s3.amazonaws.com/'), :id => "profile_picture", :width => "30", :height => "30", :class => "dropdown-toggle", :data => {:toggle => "dropdown"} %>
			<a href="#" class="user-arrow" id="dropdown-arrow" data-toggle="dropdown"><span class="caret"></span></a>
		<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="/users/<%= current_user.id %>">Profile</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="/users/edit">Settings</a></li>
			<li role="presentation"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
		</ul>
		</div>
  </div>
	<% if !current_user.confirmed? %>
  <%= render "/layouts/no_cc_alert" unless @skip_alert %>
  <% else %>
  <% end %>
<% else %>
  
  <div id="fixed-navbar">
    <a href="/"><%= image_tag "logo.jpg", :id => "logo" %><h3 id="site-header">AnyMarket</h3></a>
    <ul id="nav-links">
			<li id="login-yo"><a id="login-button">Login</a></li>
    </ul>
  </div>
  
<% end %>
  
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
  </div>
<div id="footer-container">
	<div id="content">
		<ul>
			<li><a href="mailto:tom@anymarket.co">Contact</a></li>
			<li><a href="//www.iubenda.com/privacy-policy/749699" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
			<li><a href="/terms">Terms of Service</a></li>
			<li class="social"><a href="https://www.facebook.com/shopanymarket">Facebook</a></li>
			<li class="social"><a href="http://twitter.com/anymarket" target="_blank">Twitter</a></li>
		</ul>
		<p id="emergency-help">Need help right now? (303) 406-1466</p>
		<p>&copy; 2014, AnyMarket</p>
	</div>
</div>
<%= javascript_include_tag "application" %>
<script type="text/javascript">

    
  $("#listing-new").hide();
  $("#past-listings").hide();
  $("#prof_default").addClass("active");
	
	$("#login-button").click(function(){
		$.get("/home/new", null, "script");
	});
	
	$("#remove").click(function(){
		$("#photo-preview").remove();
	});
	
	$(".preview_toggle").click(function(){
		$.get("/products/photo_preview" + "/" + $(this).data("id"), null, "script");
  });
	
	$(document).on('click',function(e){
    if (!$('#photo_preview').is(e.target) && $('#photo_preview').has(e.target).length === 0 && !$('.preview_toggle').is(e.target) && $('.preview_toggle').has(e.target).length === 0 && !$('#ask-question').is(e.target) && $('#ask-question').has(e.target).length === 0 && !$('#login-button').is(e.target) && $('#login-button').has(e.target).length === 0){
        $("#photo_preview").remove();
        $(".container-fluid").css("opacity","1");
				$("#footer-container").css("opacity","1");
				$("#footer-container").css("pointer-events","auto");
        $(".container-fluid").css("pointer-events","auto");
        }
    else{
        $("#photo_preview").fadeIn("fast");
        $(".container-fluid").css("opacity","0.3");
				$("#footer-container").css("opacity","0.3");
				$("#footer-container").css("pointer-events","none");
        $(".container-fluid").css("pointer-events","none");
        }
	});
  
  $("#listings-toggle").click(function(event){
    event.preventDefault();
    $("#current-listings").hide();
    $("#past-listings").show();
    $("#prof_default").removeClass("active");
    $("#listings-toggle").addClass("active");
  });
  
  $("#prof_default").click(function(event){
    event.preventDefault();
    $("#current-listings").show();
    $("#past-listings").hide();
    $("#listings-toggle").removeClass("active");
    $("#prof_default").addClass("active");
  });
  
  $(".alert-success").fadeOut(2000);
	
	$("#tool").hover(function(){
		$('#tool').tooltip('show');
	});
	
	$("#tools").hover(function(){
		$('#tools').tooltip('show');
	});
	
	function updateCountdown() {
    // 40 is the max message length
    var remaining = 40 - jQuery('#name_input').val().length;
    jQuery('.countdown').text(remaining + ' characters remaining.');
	}
	
	jQuery(document).ready(function($) {
    updateCountdown();
    $('#name_input').change(updateCountdown);
    $('#name_input').keyup(updateCountdown);
	});
	
	function updateCountdown2() {
    // 40 is the max message length
    var remaining = 250 - jQuery('#description').val().length;
    jQuery('.countdown2').text(remaining + ' characters remaining.');
	}
	
	jQuery(document).ready(function($) {
    updateCountdown2();
    $('#description').change(updateCountdown2);
    $('#description').keyup(updateCountdown2);
	});
	
	function updateCountdown3() {
    // 40 is the max message length
    var remaining = 250 - jQuery('#about_delivery').val().length;
    jQuery('.countdown3').text(remaining + ' characters remaining.');
	}
	
	jQuery(document).ready(function($) {
    updateCountdown3();
    $('#about_delivery').change(updateCountdown3);
    $('#about_delivery').keyup(updateCountdown3);
	});
	
	<% if signed_in?(:user) %>
		<% if current_user.confirmed_at === nil %>
			$("#purchase-button").css("opacity","0.3");
			$("#purchase-button").css("pointer-events","none");
			$("#listing-form-wrapper").css("opacity","0.3");
	    $("#listing-form-wrapper").css("pointer-events","none");
			$("#not-verified-yet").show();
		<% else %>
			$("#not-verified-yet").hide();
		<% end %>
	<% else %>
	<% end %>
	
</script>
</body>
</html>